<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/components/creat/create.css">
    <title>Hyperledger Fabric App</title>
</head>

<body>

    <form class="form-create" action="">
        <h2>Detail</h2>
        <label for="AppraisedValue">AppraisedValue:</label><br>
        <input type="text" id="appraisedValue" name="AppraisedValue" value=""><br><br>
        <label for="Color">Color:</label><br>
        <input type="text" id="color" name="Color" value=""><br><br>
        <label for="ID">ID:</label><br>
        <input type="text" id="id" name="ID" value=""><br><br>
        <label for="Owner">Owner:</label><br>
        <input type="text" id="owner" name="Owner" value=""><br><br>
        <label for="Size">Size:</label><br>
        <input type="text" id="size" name="Size" value=""><br><br>
        <input type="submit" value="Update" class="btn-submit-create">
    </form>

    <script type="text/javascript" src="./public/app.js"></script>
</body>

</html>