<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./list.css">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/components/creat/create.css">
    <title>Document</title>
</head>

<body>
    <h2>List Owner</h2>
    <table class="customers" id="listOwner">
        <thead>
            <tr>
                <th>AppraisedValue</th>
                <th>Color</th>
                <th>ID</th>
                <th>Owner</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be inserted here by JavaScript -->
        </tbody>

    </table>
    <script src="/public/app.js"></script>
</body>

</html>